/* semantic color variables for this project */
:root {
  --color-background: #ffffff;
  --color-gray: #c4c4c4;
  --color-light-gray: #eeebe9;

  --color-modal-border: #dde2e4;

  --color-text: #16191d;
  --color-text-accent: #134ec1;
  --color-text-secondary: #f89b11;

  --color-background-hover: #f6f9ff;
  --color-modal-button-bg: #f0f5ff;
  --color-modal-button: #314b99;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
@font-face {
  font-family: 'Vela Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/VelaSans-Regular.ttf) format('Truetype');
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  font-family: Vela Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}
